.home {
    background-color: #191919;
}

.home .now-watching {
    text-align: center;
    color: #ccc;
    font-weight: bold;
    height: 80vh;
    margin-top: 10vh;
    padding: 1em;
}

.home .now-watching p {
    margin-top: 0.7em;
}

.home .now-watching img {
    height: 10em;
    border-radius: 1em;
}


.home .now-watching .talk:hover {
    background-color: #000;
    cursor: pointer;
}

.home .now-watching .talk {
    background-size: auto auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(255, 0, 72);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 0, 72);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 0, 72);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(255, 0, 72);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(255, 0, 72) 0px 0px 1px 0px inset, rgb(255, 0, 72) 0px 0px 1px 0px;
    box-sizing: border-box;
    color: rgb(255, 0, 72);
    display: block;
    float: left;
    font-weight: 700;
    letter-spacing: -0.416667px;
    line-height: 24px;
    outline-color: rgb(255, 0, 72);
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 10em;    
    margin: 1em 0em 0em 9.5em;
}